#div1{
	margin-left: 12.5px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #807955;
}
#div2{
	margin-top: 12.5px;
	margin-left: 12.5px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #807955;
}
#div3{
	margin-top: 12.5px;
	margin-left: 12.5px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #807955;
}
.sinal{
	padding: 12.5px;
	margin-left: 500px;
	width: 100px;
	height: 254px;
	border-radius: 25px;
	background-color: #B3AFA1;
}
#roda {
	margin-top: 205px;
	height: 100px;
	width: 100px;
}
img{
	width: 100px;
	height: 100px;
}
hr{
	border:solid 5px;
	margin-top: -1px;
}